@page
@model IndexModel
@{
    ViewData["Title"] = "taboola rasa";
}

<div>
    <h1>Taboola Rasa is a non-profit mental health advocacy project</h1>
    <div>
        <p>
            Our goal is to create awareness for mental health experiences and to end the stigma and discrimination associated with mental health concerns. We’re changing the bigger picture, one story at a time.
        </p>
        <p>
            We will soon start publishing interviews with people who are open to sharing their own stories. We also publish articles on our blog that otherwise explain mental health experiences. If you’re interested in participating, please let us know.
        </p>
        <p>
            If you’d like to be notified of future developments, including the publishing of new interviews, please sign up for the newsletter below.
        </p>
    </div>
</div>
